/* Header */
#header-options .nav-link {
  color: var(--lessdark-blue-color) !important;
}
#header-options .nav-link:hover{
  color: var(--hover-lessdark-blue-color) !important;
  text-decoration-line: underline;
  text-decoration-color: var(--hover-lessdark-blue-color);
}


/* Hero Section */
.hero-section{
  background-color: var(--dark-blue-color);
  color: white;
}
#herosec-icon{
  fill: var(--yellow-color);
  border-color: white !important;
  border-width: 20px;
  width: 190px;
  height: 190px;
}
.hero-section h1 {
  font-size: 3rem;
}
.hero-section p {
  font-size: 20px;
}
.hero-section hr {
  border: none;
  background-color: white;
  height: 2px;
}


/* Features Section */
.feature-icon-back {
  background-color: var(--lessdark-blue-color);
  border-radius: 12px;
  width: 50px;
  height: 50px;
  margin-bottom: 1rem;

  display: flex; 
  align-items: center; 
  justify-content: center; 
}
.feature-icon {
  width: 24px;  
  height: 24px;
  fill: white;
}
.feature h4 {
  margin-bottom: 0 !important;
}
.feature p {
  margin-bottom: 0.4rem !important;
}


/* Downloads Section */
.download-tabs .nav-tabs {
  border-bottom: 2px solid #ccc; /* linha divisória */
}
.download-tabs .nav-link {
  border: none;
  background-color: transparent;
  color: #0B5ED7 !important;
  border-color:#0B5ED7 !important;
  font-weight: 500;
  padding: 0.75rem 1.5rem;
  transition: all 0.2s ease;
}
.download-tabs .nav-link:hover {
  background-color: #e0e0e0;
  border-radius: 6px;
}
.download-tabs .nav-link.active {
  border: none;
  border-bottom: 3px solid; /* azul da aba ativa */
  font-weight: 600;
  background-color: transparent;
}
#tabcontent {
  color: white;
}


/* Princing Section */
#free-card {
  border-color: var(--green-color) !important;
}
#free-card h5 {
  color: var(--green-color) !important;
}
#free-card .btn{
  background-color: var(--green-color);
  border: none;
}
#free-card .btn:hover{
  background-color: #094d4d;
  color: white;
}
#free-card .btn:active{
  background-color: var(--hover-green-color);
}

#family-card {
  border-color:#0950b9;
}
#family-card h5 {
  color: #0950b9;
}
#family-btn1 {
  background-color: #0950b9;
}
#family-btn1:hover {
  background-color: #094aaa;
}
#family-btn1:active{
  background-color: #09439b;
}
#family-btn2 {
  color: #0950b9;
  border-color: #0950b9;
}
#family-btn2:hover {
  color: white;
  background-color: #0950b9;
}
#family-btn2:active {
   background-color: #09439b;
}

#business-card {
  background-color: var(--dark-blue-color) !important;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.06), 
    rgba(255, 255, 255, 0.06)
  );
}
#business-card h5 {
  text-decoration: underline;
  text-decoration-color: var(--yellow-color);
}
#business-features .list-group-item {
  background-color: var(--dark-blue-color);
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.06), 
    rgba(255, 255, 255, 0.06)
  );
}
#demo-btn {
  color: white;          
  border-color: var(--lessdark-blue-color) !important; 
  background-color: #0950b9;
  transition: background-color 0.1s ease;
}
#demo-btn:hover {
  background-color: #094aaa;
}
#demo-btn:active {
  background-color: #09439b;
}



/*Buttons*/
#aboutus-btn {
  color: var(--lessdark-blue-color) !important;          
  border-color: var(--lessdark-blue-color) !important;    
}
#aboutus-btn:hover {
  background-color: rgb(238, 238, 238) !important;       
}
#register-btn {
  color: white;
  background-color: var(--lessdark-blue-color);
}
#register-btn:hover {
  background-color: var(--hover-lessdark-blue-color);
}
#getstarted-btn {
  border: none;
  background-color: var(--green-color);
}
#getstarted-btn:hover {
  background-color: #064646;
}
#aboutus-btn {
  color: #0842bd !important;
  border-color:#0842bd !important;
}
#aboutus-btn:hover {
  color: var(--lessdark-blue-color) !important;
}