/* Header */
.headerOptions :global(.nav-link) {
  color: var(--lessdark-blue-color) !important;
  position: relative;
}

.headerOptions :global(.nav-link::after) {
  width: 0;
  height: 2px;
  background-color: var(--hover-lessdark-blue-color);
  transition: width 0.3s ease;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
}

.headerOptions :global(.nav-link:hover::after) {
  width: 100%;
}


/* Hero Section */
.heroSection {
  background-color: var(--dark-blue-color);
  color: white;
}

.heroSecIcon {
  fill: var(--yellow-color);
  border-color: white !important;
  border-width: 20px;
  width: 210px;
  height: 210px;
}

.heroSection h1 {
  font-size: 3rem;
}

.heroSection p {
  font-size: 20px;
}

.heroSection hr {
  border: none;
  background-color: white;
  height: 2px;
}


/* Features Section */
.featureIconBack {
  background-color: var(--lessdark-blue-color);
  border-radius: 12px;
  width: 52px;
  height: 52px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.featureIcon {
  width: 26px;
  height: 26px;
  fill: white;
}

.feature h4 {
  margin-bottom: 0 !important;
}

.feature p {
  margin-bottom: 0.4rem !important;
  font-size: large;
}


/* Downloads Section */
.downloadTabs :global(.nav-tabs) {
  border-bottom: 2px solid #ccc;
  /* linha divisória */
}

.downloadTabs :global(.nav-link) {
  border: none;
  background-color: transparent;
  color: #0B5ED7 !important;
  border-color: #0B5ED7 !important;
  font-weight: 500;
  transition: all 0.2s ease;
  padding: 0.75rem 1.5rem;
}

.downloadTabs :global(.nav-link):hover {
  background-color: #e0e0e0;
  border-radius: 6px;
}

.downloadTabs :global(.nav-link.active) {
  border: none;
  border-bottom: 3px solid;
  background-color: transparent;
  font-weight: 600;
}

.tabContent {
  color: white;
}


/* Princing Section */
.freeCard {
  border-color: var(--green-color) !important;
  border-width: 1px;
}

.freeCard h5 {
  color: var(--green-color) !important;
}

.freeCard h3 {
  font-size: 1.8rem;
}

.freeCard :global(.btn) {
  border: none;
  background-color: rgb(12, 104, 104);
  transition: all 0.3s ease !important;
}

.freeCard :global(.btn):hover {
  background-color: var(--green-color);
  color: white;
}

.freeCard :global(.btn):active {
  background-color: var(--hover-green-color) !important;
}


.familyCard {
  border-color: #0950b9;
}

.familyCard h5 {
  color: #0950b9;
}

.familyCard h3 {
  font-size: 1.8rem;
}

.familyBtn1 {
  background-color: #0950b9 !important;
  transition: all 0.3s ease !important;
}

.familyBtn1:hover {
  background-color: #0a4bad !important;
}

.familyBtn1:active {
  background-color: #09439b !important;
}

.familyBtn2 {
  color: #0950b9 !important;
  border-color: #0950b9 !important;
  transition: all 0.3s ease !important;
}

.familyBtn2:hover {
  color: white !important;
  background-color: #0950b9 !important;
}

.familyBtn2:active {
  background-color: #09439b !important;
}

.businessCard {
  background-color: var(--dark-blue-color) !important;
  background-image: linear-gradient(rgba(255, 255, 255, 0.06),
      rgba(255, 255, 255, 0.06));
}

.businessCard h5 {
  text-decoration: underline;
  text-decoration-color: var(--yellow-color);
}

.businessCard h3 {
  font-size: 1.8rem;
}

.businessFeatures :global(.list-group-item) {
  background-color: var(--dark-blue-color);
  background-image: linear-gradient(rgba(255, 255, 255, 0.06),
      rgba(255, 255, 255, 0.06));
}

.demoBtn {
  color: white;
  border-color: var(--lessdark-blue-color) !important;
  background-color: #0950b9;
  transition: all 0.3s ease !important;
}

.demoBtn:hover {
  background-color: #094aaa;
}

.demoBtn:active {
  background-color: #09439b;
}


/*Footer*/
.myFooter p {
  font-size: large;
}

.myFooter a {
  color: whitesmoke;
  font-size: large;
}

.myFooter a:hover {
  color: rgb(19, 110, 248);
}

.myFooter a:active {
  color: rgb(16, 83, 184);
}


/*Buttons*/
.loginBtn {
  border-color: var(--dark-blue-color) !important;
  transition: all 0.2s ease !important;
}

.loginBtn:hover {
  background-color: rgb(240, 240, 240) !important;
}

.loginBtn:active {
  background-color: rgb(228, 227, 227) !important;
}

.registerBtn {
  color: white !important;
  background-color: var(--lessdark-blue-color) !important;
  transition: all 0.2s ease !important;
}

.registerBtn:hover {
  background-color: var(--hover-lessdark-blue-color) !important;
}

.getStartedBtn {
  border: none !important;
  background-color: var(--green-color) !important;
  transition: all 0.2s ease !important;
}

.getStartedBtn:hover {
  background-color: #064646 !important;
}

.aboutUsBtn {
  color: #0842bd !important;
  border-color: #0842bd !important;
  transition: all 0.4s ease !important;
}

.aboutUsBtn:hover {
  color: var(--lessdark-blue-color) !important;
  background-color: rgb(238, 238, 238) !important;
}

.aboutUsBtn:active {
  background-color: rgb(219, 218, 218) !important;
}

.scrollTopBtn {
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  background-color: var(--lessdark-blue-color);
  color: white;
  transition: all 0.3s ease;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.scrollTopBtn:hover {
  background-color: var(--hover-lessdark-blue-color);
}