@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  --dark-blue-color: #001542;
  --green-color: #085454;
  --hover-green-color: #064646;
  --lessdark-blue-color: #0d3a9b;
  --hover-lessdark-blue-color: #052770;
  --yellow-color: #FFB30D;
  --dark-yellow-color: #d8970b;
  --action-yellow-color: #9b3303;
  --whitetext-to-yellow: rgb(212, 212, 212);
  --red-color: #c90f02;
  --light-gray-color: #2e2e2e;
  --gray-hover-color: #f0f0f0;

  --sidebar-width-expanded: 290px;
  --sidebar-width-collapsed: 120px;

  --font-primary: 'Inter';
  --font-secondary: 'Source Sans 3';
}

body {
  font-family: var(--font-secondary), Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1f1f1f;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-primary), Tahoma, Geneva, Verdana, sans-serif;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-inner-spin-button,
input[type="password"]::-webkit-clear-button {
  display: none;
}

.noHoverClass:hover {
  background-color: inherit !important;
}