:root{
  --dark-blue-color: #001542;
  --green-color: #085454;
  --hover-green-color: #064646;
  --lessdark-blue-color: #0d3a9b;
  --hover-lessdark-blue-color: #052770;
  --yellow-color: #FFB30D;
  --dark-yellow-color: #d8970b;
  --whitetext-to-yellow: rgb(212, 212, 212);

  --sidebar-width-expanded: 250px;
  --sidebar-width-collapsed: 80px;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden; /* Evita scroll na tela toda se o conteúdo for maior que a viewport */
}