.sidebarContainer {
  height: 100vh;
  background-color: #1f1f1f;
  color: white;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease;
  overflow-x: hidden;
  flex-shrink: 0;
}
.sidebarExpanded {
  width: var(--sidebar-width-expanded);
}
.sidebarCollapsed {
  width: var(--sidebar-width-collapsed);
}


.searchBox {
  height: 30px !important;
}


.sidebarText {
  opacity: 0;
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  transition: opacity 0.1s ease, width 0.1s ease;
}
.sidebarExpanded .sidebarText {
  opacity: 1;
  width: auto;
  transition: opacity 0.3s ease 0.1s, width 0.3s ease 0.1s;
}


.sidebarContainer :global(.nav-link) {
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  padding: 10px 15px;
  font-weight: 500 !important; 
  font-size: small;
}
.sidebarContainer :global(.nav-link):hover {
  color: white;
  background-color: rgba(97, 97, 97, 0.1)
}


.sidebarIcon {
  margin-right: 7px;
  width: 24px;
  text-align: center;
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-shrink: 0; /* Impede que o ícone encolha */
}
.sidebarCollapsed .sidebarIcon {
  margin-right: 0;
}


.sidebarToggleBtn {
  border: none;
  background-color: transparent;
  color: white; 
  cursor: pointer;
  display: flex;
  justify-content: center; 
  align-items: center;   
  min-height: 40px; 
  transition: width 0.3s ease, background-color 0.3s ease, border-radius 0.3s ease;
  padding: 0 10px; 
  box-sizing: border-box; 
}

.sidebarToggleBtn:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.toggleBtnIcon {
  width: 24px;  
  height: 24px;  
  flex-shrink: 0; /* Impede que o ícone encolha se o espaço for limitado */
  margin-right: 0; 
  fill: currentColor; 
}