.scrollPanel {
  max-height: 70vh;
  overflow-y: auto;
  padding: 0;
}
.panelHeader {
  position: sticky;
  top: 0;
  background: white;
  z-index: 1;
  border-bottom: 1px solid #dee2e6;
}
.panelContent {
  padding-bottom: 1rem;
  max-height: 300px; /* ou qualquer altura desejada */
  overflow-y: auto;
}


.ellipsisWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  transition: background-color 0.2s ease;
}
.ellipsisWrapper:hover {
  background: #f0f0f0;
}
.ellipsis {
  width: 1.4rem;
  height: 1.4rem;
}

.addCredentialBtn {
  display: flex;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  background-color: var(--green-color);
  color: white;
  transition: background-color 0.2s ease;
  padding: 0;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.addCredentialBtn:hover {
  background-color: #086161;
}
.addCredentialBtn:active {
  background-color: var(--hover-green-color);
}


.gridRow {
  display: grid;
  grid-template-columns: 40px 2fr 2fr 2fr 40px; 
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  font-size: 0.85rem;
}
.panelContent .gridRow:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}
.headerRow {
  font-weight: bold;
  position: relative;
}
.actionColumn {
  display: flex;
  justify-content: flex-end;
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.confirmCredentialModalBtn {
    border: none;
    border-radius: 10%;
    background-color: var(--green-color);
    color: white;
    transition: background-color 0.2s ease;
    padding: 0px 15px;
    height: 2.3rem;
}
.confirmCredentialModalBtn:disabled{
    background-color: rgba(49, 136, 136, 0.705);
}
.confirmCredentialModalBtn:hover {
  background-color: #086161;
}
.confirmCredentialModalBtn:active {
  background-color: var(--hover-green-color);
}
.confirmCredentialModalBtn:disabled:hover,
.confirmCredentialModalBtn:disabled:active {
  background-color: rgba(49, 136, 136, 0.705);
  cursor: not-allowed;
}