:root{
  --dark-blue-color: #001542;
  --green-color: #085454;
  --lessdark-blue-color: #0d3a9b;
  --hover-lessdark-blue-color: #052770;
  --yellow-color: #FFB30D;
  --dark-yellow-color: #d8970b;
  --whitetext-to-yellow: rgb(212, 212, 212);
}

.hero-section{
  background-color: var(--dark-blue-color);
  color: white;
}
#herosec-icon{
  fill: var(--yellow-color);
  border-color: white !important;
  border-width: 20px;
  width: 190px;
  height: 190px;
}
.hero-section h1 {
  font-size: 3rem;
}
.hero-section p {
  font-size: 20px;
}


.btn-outline-custom {
  color: var(--lessdark-blue-color) !important;          
  border-color: var(--lessdark-blue-color) !important;    
}
.btn-outline-custom:hover {
  background-color: rgb(238, 238, 238) !important;       
}
#register-btn {
  color: white;
  background-color: var(--lessdark-blue-color);
}
#register-btn:hover {
  background-color: var(--hover-lessdark-blue-color);
}
#getstarted-btn {
  border: none;
  background-color: var(--green-color);
}
#getstarted-btn:hover {
  background-color: #064646;
}
#aboutus-btn {
  color: #0842bd !important;
  border-color:#0842bd !important;
}
#aboutus-btn:hover {
  color: var(--lessdark-blue-color) !important;
}



.sidebar {
  width: 250px;
  transition: width 0.3s;
}

.sidebar.collapsed {
  width: 60px;
}

.main-content {
  transition: margin-left 0.3s;
  margin-left: 250px;
}

.main-content.expanded {
  margin-left: 60px;
}
